name: Regular CI testing for parastell

on:
  # allows us to run workflows manually
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - 'Dockerfile'
      - '.github/workflows/docker_publish.yml'
      - 'environment.yml'

jobs:
  test-dependency-img:
    runs-on: ubuntu-latest
    container: ghcr.io/svalinn/parastell-ci
    
    name: Perform CI Tests

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Populate environment and run tests
        run: |
          . /opt/etc/bashrc
          sed -e "s/@SERVER@/${rlmSERVER}/" -e "s/@PASSWORD@/${rlmPASSWD}/" /opt/Coreform-Cubit-2024.8/bin/licenses/rlmcloud.in > /opt/Coreform-Cubit-2024.8/bin/licenses/rlmcloud.lic
          cd tests
          pytest -v .
        env:
          rlmSERVER: ${{ secrets.RLMSERVER }}
          rlmPASSWD: ${{ secrets.RLMPASSWORD }}
